# Created by venv; see https://docs.python.org/3/library/venv.html
#*
# Sacando el entorno virtual del repositorio.
env/
venv/
.venv/
ENV/
pyvenv.cfg
Scripts/

# El directorio donde el entorno virtual guarda las librerías locales.
Lib/

# Ficheros de emacs que deben ser ignorados
*~
\#*\#

# Que ignore los ficheros del pycache
__pycache__

# Que ignore la base de datos, para que esta sea local para cada desarollador
db.sqlite3

# Ficheros de VS que tiene que ignorar:
.vs
*.user
obj/

